.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 33px 36px 29px;
}

.title {
  margin-bottom: 51px !important;
}

.subtitle_1 {
  margin-bottom: 65px !important;
  color: var(--color-dark-100);
}

.button {
  margin-bottom: 20px !important;
}

.subtitle_2 {
  margin-bottom: 11px !important;
  color: var(--color-light-900);
}

.input {
  width: 346px !important;
}

.link {
  text-decoration-line: underline;
}
