@import '@/styles/mixins';

.form {
  @include display-column;

  justify-content: center;
}

.card {
  padding: 33px 36px 29px;
}

.title {
  margin-bottom: 51px;
}

.subtitle_1 {
  margin-bottom: 65px;
  color: var(--color-dark-100);
}

.button {
  margin-bottom: 20px;
}

.subtitle_2 {
  margin-bottom: 11px;
  color: var(--color-light-900);
}

.input {
  margin-bottom: 19px;
}

.link {
  text-decoration-line: underline;
}
