@import '@/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 36px;
  padding: 33px 36px 29px;

  .signTypography {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .error {
    @include custom-text-style(
      var(--font-family-primary),
      12px,
      400,
      24px,
      var(--color-danger-300)
    );
  }

  .logInForm {
    display: flex;
    flex-direction: column;
  }

  .input {
    margin-top: 5%;
  }

  .checkBox {
    position: relative;
    right: 8px;

    display: flex;

    margin-top: 5%;
    padding: 0;
  }

  .forgotTypography {
    align-self: flex-end;
    margin-top: 1%;
    margin-bottom: 15%;
    text-decoration-line: none;

    &:hover {
      cursor: pointer;
      color: var(--color-accent-500);
      text-decoration-line: underline;
    }
  }

  .button {
    margin-top: 5%;

    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }

  .signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .question {
      margin-top: 5%;
      color: var(--color-light-900);
      word-wrap: break-word;
    }

    .registerLink {
      margin-top: 5%;
      margin-bottom: 5%;
      color: var(--color-accent-500);
      text-decoration-line: underline;
    }
  }
}
