button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  width: 210px;
  height: 36px;
  padding: 0 15px;

  font-weight: 400;
  line-height: 1;
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.SelectTrigger:hover {
  cursor: pointer;
  background-color: var(--color-dark-300);
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 1px var(--color-info-700);
}

.SelectTrigger:active{
  margin-top: 42px;
}

.SelectTrigger[data-placeholder] {
  color: var(--color-light-100);
}

/* arrow */
.SelectIcon {
  color: var(--color-light-100);
}

/* items in portal */
.SelectContent {
  overflow: hidden;

  width: 241px;
  height: auto;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);

}

.SelectViewport {
  cursor: pointer;

  /* padding: 5px; */
}

.SelectGroup{
  width: 230px;
}

.SelectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width:208px;
  height: 36px;
  padding: 0 15px ;

  font-weight: 400;
  line-height: 1;
  color: var(--color-light-100);

  outline: 0;
}

.SelectItem:hover{
  width: 100vh;
  background-color: var( --color-accent-900);
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: var(--color-info-700);
}
