.wrapper {
  margin: 84px auto 0;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 33px 36px;
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.question {
  margin-top: 5px;
  word-break: break-word;
}

.attempts {
  margin-bottom: 35px;
  color: var(--color-dark-100);
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 12px;
  word-break: break-word;
}

.button {
  margin-top: 30px;
}
