@import '/src/styles/mixins';

.previousPage {
  gap: 5px;

  width: max-content;
  padding-left: 0;

  color: var(--color-light-100);
  text-decoration-line: none;

  border: none;

  &:hover {
    .arrow path {
      fill: var(--color-accent-300);
    }
  }

  &:active {
    .arrow path {
      fill: var(--color-accent-700);
    }
  }
}

.packContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1006px;
  margin-top: 24px;

  .insideContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    .packImg {
      @include size(170px, 107px);

      margin-top: 15px;
    }

    .deckNameAndButtonWrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      width: 100%;
      margin-top: 33px;

      .deckNameWrapper {
        display: inline-flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        justify-content: center;
      }
    }

    .searchContainer {
      width: 100%;
      margin-top: 25px;
    }
  }
}

.table {
  margin-top: 24px;
}

.triggerIcon {
  transform: rotate(90deg) scale(0.7);
}
