@import '/src/styles/mixins';

.packContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1006px;
  margin-top: 24px;

  .insideContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    .packImg {
      @include size(170px, 107px);

      margin-top: 15px;
    }

    .previousPage {
      gap: 5px;
      padding-left: 0;
      text-decoration-line: none;
      border: none;

      &:hover {
        text-decoration-line: underline;
      }
    }

    .packAddName {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      width: 100%;
      margin-top: 33px;

      .packName {
        display: flex;
        font-size: 22px;
        font-weight: 600;
      }
    }

    .searchContainer {
      width: 100%;
      margin-top: 25px;
    }
  }
}

.table {
  margin-top: 24px;
}
