.newPasswordCard {
  padding: 33px 36px 60px;
}

.input {
  width: 346px !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 51px !important;
  color: var(--color-light-100);
}

.subtitle {
  margin-bottom: 41px !important;
  color: var(--color-dark-100);
}
