.iconsCell {
  width: min-content;
  text-align: end;
  vertical-align: middle;
}

.icon {
  &:hover {
    cursor: pointer;

    path {
      fill: var(--color-accent-300);
    }
  }

  &:active {
    path {
      fill: var(--color-accent-700);
    }
  }
}

.iconsWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.deckName {
  cursor: pointer;

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }
}
