.iconsCell {
  width: min-content;
  text-align: end;
}

.icon {
  cursor: pointer;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.deckName {
  cursor: pointer;

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }
}
