.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 2px solid var(--color-light-900);
  border-radius: 2px;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
