@import '@/styles/mixins';

.button {
  @include display-flex;
  @include custom-text-style(
    var(--font-family-primary),
    var(--font-size-m),
    var(--font-weight-bold),
    var(--line-height-m),
    var(color-light-100)
  );

  cursor: pointer;

  position: relative;
  z-index: 1;

  gap: 10px;
  justify-content: center;

  padding: 6px 28px;

  border: 2px solid;
  border-radius: 4px;
  outline: 0;
  outline-offset: 0;
}

.primary {
  background-color: var(--color-accent-500);
  border-color: var(--color-accent-500);

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    inset: 5px -10px;

    background: radial-gradient(
      ellipse,
      rgb(140 97 255 / 100%) 0%,
      rgb(23 23 23 / 100%) 90%,
      rgb(0 0 0 / 100%) 100%
    );
    filter: blur(30px);
  }

  &:active {
    background-color: var(--color-accent-700);
    border-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
    border-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
    border-color: var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
    border-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  border-color: var(--color-dark-300);

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    inset: 5px 0;

    background: radial-gradient(
      ellipse,
      rgb(76 76 76 / 100%) 0%,
      rgb(23 23 23 / 100%) 90%,
      rgb(0 0 0 / 100%) 100%
    );
    filter: blur(15px);
  }

  &:active {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
    border-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-300);
    border-color: var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }
}

.tertiary {
  color: var(--color-accent-500);
  background-color: transparent;
  border-color: var(--color-accent-500);

  &:active {
    color: var(--color-accent-500);
    background-color: var(--color-dark-900);
    border-color: var(--color-dark-700);
  }

  &:hover {
    color: var(--color-accent-500);
    background-color: var(--color-dark-500);
    border-color: var(--color-accent-700);
  }

  &:focus {
    background-color: var(--color-dark-300);
    border-color: var(--color-accent-500);
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    background-color: transparent;
    border-color: var(--color-accent-900);
  }
}

.link {
  padding: 6px 0;

  color: var(--color-accent-500);
  text-shadow: 1px 1px #8c61ff59;

  background-color: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    color: var(--color-accent-500);
    border: 2px solid var(--color-info-700);
    border-radius: 20px;
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
