@import '@/styles/mixins';

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1006px;
  margin: 20px auto 0;
}

.deckNameAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 10px;
}

.tableSettings {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 36px;
}

.pagination {
  margin-top: 25px;
}

.searchInput {
  width: 300px;
}
