@import '/src/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 36px;
  padding: 33px 36px 29px;

  .signTypography {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .error {
    @include custom-text-style(
      var(--font-family-primary),
      12px,
      400,
      24px,
      var(--color-danger-300)
    );
  }

  .input {
    margin-top: 5%;
  }

  .button {
    @include custom-text-style(var(--font-family-primary), 14px, 700, 24px, none);

    margin-top: 20%;
  }

  .signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .question {
      margin-top: 5%;
      color: var(--color-light-900);
    }

    .loginLink {
      margin-top: 5%;
      color: var(--color-accent-500);
      text-decoration-line: underline;
    }
  }
}
