@import '/src/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 33px 36px 29px;

  .title {
    align-self: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .signInButton {
    margin-top: 11px;
  }

  .signInText {
    color: var(--color-accent-500);
    text-decoration-line: underline;
  }

  .question {
    margin-top: 20px;
    color: var(--color-light-900);
  }

  .input {
    margin-top: 24px;
  }

  .button {
    margin-top: 36px;
  }

  .prompt {
    margin-top: 5px;
    color: var(--color-dark-100);
  }

  .errorPlace {
    align-self: flex-start;
    width: max-content;
    height: 24px;
  }

  .error {
    color: var(--color-danger-300);
  }
}
