@import '@/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: calc(100vh - 60px);
}

.link {
  text-decoration-line: none;
}
