.defaultInputWithoutIcon {
  position: relative;
  color: white;
}

.inputIcon {
  position: relative;
  color: white;
}

input{
  border: 1px solid #4C4C4C;
  border-radius: 2px;
  color:white;
  background-color: transparent;
}

.inputIcon input {
  padding-left: 30px; /* Учитывайте размер иконки */
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.rightSideIcon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
