.defaultInputWithoutIcon {
  position: relative;
  color: white;
}

.inputIcon {
  position: relative;
  color: white;
}

input {
  border: 1px solid #4c4c4c;
  border-radius: 2px;
  color: white;
  background-color: transparent;
  height: 36px;
  width: 284px;
}

.inputIcon input {
  padding-left: 30px; /* Учитывайте размер иконки */
}

.searchIcon {
  position: absolute;
  top: 30%;
  left: 7px;
  transform: translateY(-50%);
}

.rightSideIcon {
  position: absolute;
  top: 30%;
  right: 7px;
  transform: translateY(-50%);
}

.error {
  width: 10px;
  height: 24px;
  top: 60px;
  color: #f23d61;
}

.errorInput {
  border: 1px solid #f23d61;
  border-radius: 2px;
  color: #f23d61;
  background-color: transparent;
}
