.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 30px 70px;

  .userPhoto {
    width: 96px;
    height: 96px;
  }

  .editLogo {
    position: relative;
    z-index: 9999;
    right: 25px;
    bottom: 5px;

    padding: 3px;

    background-color: var(--color-dark-300);
    border-radius: 6px;
  }

  .editIcon {
    margin-left: 10px;
  }

  .email {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .button {
    box-shadow: none;
  }
}
