@import '/src/styles/mixins';

.container {
  @include display-column;

  padding: 30px;

  .typoInfo {
    @include custom-text-style(var(--font-family-primary), 26px, 700, 36px, white);
  }

  .userPhoto {
    @include size(96px, 96px);

    border-radius: 47%;
  }

  .editLogo {
    position: relative;
    z-index: 9999;
    right: 25px;
    bottom: 5px;

    padding: 3px;

    background-color: var(--color-dark-300);
    border-radius: 6px;
  }

  .editIcon {
    margin-left: 10px;
  }

  .email {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .button {
    margin-top: 3%;
    box-shadow: none;
  }
}
