@import '@/styles/mixins';

.card {
  @include size(420px, auto);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  box-shadow:
    -1px -1px 2px var(--color-dark-overlay),
    1px 1px 2px var(--color-dark-overlay);
}
